name: "Deploy to WordPress.org"

on:
  workflow_dispatch:
    inputs:
      tags:
        description: 'Tag to run for'
  push:
    tags:
      - "v*"

jobs:
  tag:
    name: New tag
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main
      - name: Build
        run: |
          composer install --no-dev --prefer-dist --optimize-autoloader --no-scripts
          yarn install
          grunt build
          
      - uses: actions/checkout@master
      - name: Install SVN
        run: sudo apt-get install subversion

      - name: WordPress Plugin Deploy
        uses: 10up/action-wordpress-plugin-deploy@stable
        env:
          SVN_PASSWORD: ${{ secrets.SVN_PASSWORD }}
          SVN_USERNAME: ${{ secrets.SVN_USERNAME }}
          SLUG: checkview # optional, remove if GitHub repo name matches SVN slug, including capitalization

